<p>editar works!</p>

<form (ngSubmit)="onSubmit()" [formGroup]="editForm" novalidate>

    <div class="mb-3">
        <label class="form-label">Titulo</label>
        <input formControlName="titulo" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Contenido</label>
        <input formControlName="contenido" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Autor</label>
        <input formControlName="autor" type="text" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>


